{% extends "base.html" %}
{% block title %}Details{% endblock title %}
{% block details_event %}
<div class="px-[2.4rem] max-w-[112rem] mx-auto mt-[12rem] mb-[4rem]">
    <div class="flex justify-between items-start">
        <div>
            <div class="uppercase text-light text-gray-700 text-[1.2rem]">
                <time datetime="{{ event.date|date:'Y-m-d' }}">{{ event.date|date:"F j, Y" }}</time>
                <time datetime="{{ event.time|time:'H:i' }}">{{ event.time }}</time>
            </div>

            <h1 class="text-[2.4rem] font-bold md:text-[3.2rem] capitalize">{{ event.name }}</h1>
            <p class="text-[1.4rem] capitalize bg-rose-200 inline-block px-[.8rem] py-[.4rem] rounded-md mt-[.8rem]">{{ event.category }}</p>
        </div>
        <a href="{% url "update-event" event.id %}" class="cursor-pointer border border-blue-500 px-[.8rem] py-[.4rem] rounded-sm capitalize text-blue-800">update</a>
    </div>
    <p class="text-gray-700 mt-[3.2rem]">{{ event.description }}</p>
    <address class="mt-[3.2rem]"><span class="capitalize">location: </span>{{ event.location }}</address>
    <div class="mt-[4.8rem]">
        <h2 class="capitalize font-medium text-[2rem]">participants</h2>
        <p class="text-gray-600 mt-[.4rem]">Number of total participants: <span class="text-gray-900">{{ num_par }}</span></p>
        <div class="mt-[2.4rem] rounded-md">
            <div class="grid grid-cols-2 bg-white py-[.8rem] border-b border-gray-200">
                <h4 class="capitalize text-[1.3rem] text-gray-600 px-[1.2rem]">name</h4>
                <p class="capitalize text-[1.3rem] text-gray-600 px-[1.2rem]">email</p>
            </div>
            {% if participants %}
            {% for participant in participants %}
            <div class="grid grid-cols-2 bg-white py-[.8rem] [&:not(:last-child)]:border-b border-gray-100">
                <a href="{% url "update-participants" participant.id %}" class="text-indigo-500 underline capitalize text-[1.3rem] px-[1.2rem]">{{ participant.name }}</a>
                <p class="capitalize text-[1.3rem] text-gray-800 px-[1.2rem] break-words">{{ participant.email }}</p>
            </div>
            {% endfor %}
            {% else %}
            <div class="grid grid-cols-2 bg-white py-[.8rem] [&:not(:last-child)]:border-b border-gray-100">
                <p class="capitalize text-[1.3rem] text-gray-800 px-[1.2rem] break-words">No participant for this event!</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock details_event %}