{% extends "base.html" %}
{% block title %}Events{% endblock title %}
{% block events %}
<div class="px-[2.4rem] max-w-[112rem] mx-auto mt-[12rem] mb-[4rem]">
    <h1 class="text-[2.4rem] font-bold md:text-[3.2rem] capitalize">all events</h1>
    <p class="text-gray-400 text-[1.1rem]">To view details of an event, click on the name</p>
    <!--all events-->
    <div class="mt-[4.8rem]">
        <div class="mt-[2.4rem] rounded-md">
            <div class="grid grid-cols-3 bg-white py-[.8rem] border-b border-gray-200">
                <h4 class="capitalize text-[1.3rem] text-gray-600 px-[1.2rem]">name</h4>
                <h4 class="capitalize text-[1.3rem] text-gray-600 px-[1.2rem]">category</h4>
                <p class="capitalize text-[1.3rem] text-gray-600 px-[1.2rem]">participants</p>
            </div>
            <div class="grid grid-cols-3 bg-white py-[.8rem] [&:not(:last-child)]:border-b border-gray-100">
                <a class="text-indigo-500 capitalize text-[1.3rem] px-[1.2rem]" href="#" title="Bijoy 71">Lorem ipsum</a>
                <a class="capitalize text-[1.3rem] text-gray-800 px-[1.2rem]">musical</a>
                <p class="capitalize text-[1.3rem] text-gray-800 px-[1.2rem]">1010</p>
            </div>
            <div class="grid grid-cols-3 bg-white py-[.8rem] [&:not(:last-child)]:border-b border-gray-100">
                <a class="text-indigo-500 capitalize text-[1.3rem] px-[1.2rem]" href="#" title="Bijoy 71">Lorem ipsum dolor sit.</a>
                <a class="capitalize text-[1.3rem] text-gray-800 px-[1.2rem]">musical</a>
                <p class="capitalize text-[1.3rem] text-gray-800 px-[1.2rem]">1010</p>
            </div>
            <div class="grid grid-cols-3 bg-white py-[.8rem] [&:not(:last-child)]:border-b border-gray-100">
                <a class="text-indigo-500 capitalize text-[1.3rem] px-[1.2rem]" href="#" title="Bijoy 71">Lorem ipsum dolor sit amet, consectetur adipisicing.</a>
                <a class="capitalize text-[1.3rem] text-gray-800 px-[1.2rem]">musical</a>
                <p class="capitalize text-[1.3rem] text-gray-800 px-[1.2rem]">1010</p>
            </div>
        </div>
    </div>
    <!--end of all events-->
</div>
{% endblock events %}