{% extends "base.html" %}
{% block title %}New Event{% endblock title %}
{% block create_event %}
<div class="px-[2.4rem] max-w-[112rem] mx-auto mt-[12rem] mb-[4rem]">
    <h1 class="text-[2.4rem] font-bold md:text-[3.2rem] capitalize">{{ heading }}</h1>
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    <form class="mt-[3.2rem] max-w-[57.6rem]" onsubmit="" method="POST">
        {% csrf_token %}
        {{ form }}
        <div class="[&:not(:last-child)]:mb-[3.2rem]">
            <button class="px-[2.6rem] mt-[2.4rem] py-[.8rem] bg-blue-900 text-white focus-visible:outline focus-visible:outline-blue-700 rounded-lg capitalize w-max cursor-pointer" type="submit">save</button>
        </div>
    </form>
</div>
{% endblock create_event %}